*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.full-page{
    height: 100% ;
    width: 100%;
    background-image: /*linear-gradient(rgba(0,0,0,0.4)), this proper hides my 
    background image thats Y I commented it out*/ url(images/blue2.jpg);
    background-position: center;
    background-size: cover;
    position: absolute;
    /*this code is for setting the background images and positioning the image*/
}
.navbar{
    display: flex;
    align-items: center;
    padding: 20px;
    padding-left: 30px;
    padding-right: 15px;
    padding-top: 35px;
    /*this is for setting the dimension of navigation bar*/
}
nav{
    flex: 1;
    text-align: right;
}
nav ul{
    display: inline-block;
    list-style: none;
}
nav ul li{
    display: inline-block;
    margin-right: 60px;
    /*this block are for styling the list element*/
}
nav ul li a{
    text-decoration: none;
    font-size: 20px;
    color: white;
    font-family: sans-serif;
}
nav ul li button{
    font-size: 20px;
    color: white;
    outline: none;
    border: none;
    background: transparent;
    cursor: pointer;
    font-family: sans-serif;
}
nav ul li button:hover{
    color: aqua;
    /*this settings changes the login setting on click*/
}
nav ul li a:hover{
    color: aqua;
    /*this settings changes the anchor setting on click*/
}
a{
    text-decoration: none;
    color: rgb(244, 245, 247);
    font-size: 25px;
}
/*below we are styling the forms*/
#login-form{
    display:none;
    /*this block is for hidding the form*/
}
.form-box{ 
    width: 400px;
    height: 500px;
    position: relative;
    margin:2% auto;
    background: rba(0,0,0,0.3);
    box-shadow: 0 0 20px 10px #d086da1f;
    padding: 10px;
    overflow: hidden;
    /*creating the forms width&height*/
}
.button-box{
    width: 256.8px;
    margin: 1px auto;
    position: relative;
    box-shadow: 0 0 20px 9px #b262bd1f;
    border-radius: 30px;
}
.toggle-btn{
    padding: 10px 30px;
    cursor: pointer;
    background:transparent; /*you can also make the login&register background 2b transparent*/
    border: 0;
    border-radius: 12px;
    outline: none;
    position: relative;
}
#btn{
    top:0;
    left: 0;
    position: absolute;
    width: 140px;
    height: 100%;
    background: #d8aad8;
    border-radius: 30px;
    transition: 0.7s;
}
.input-group-login{
    top:65px;
    position: absolute;
    width: 270px;
    transition: 0.7s;
}
.input-group-register{
    top: 120px;
    position: absolute;
    width: 280px;
    transition: 0.7s;
}
.input-field{
    width: 100%;
    padding: 10px 0;
    margin: 5px 0;
    border-left: 0;
    border-top: 0;
    border-right: 0;
    border-bottom: 1px solid #999;
    outline: none;
    background: transparent;
}
.submit-btn{
    width: 80%;
    padding: 10px 30px;
    cursor: pointer;
    display: block;
    margin: auto;
    border: 0;
    outline: none;
    border-radius: 35px;
}
.check-box{
    margin: 35px 15px 15px 0;
}
span{
    color: rgb(207, 203, 203);
    font-size: 14px;
    bottom: 56px;
    position: absolute;
}
#login{
    left: 60px;
}
#login input{
    color: white;
    font-size: 15;
}
#register{
    left: 500px;
}
#register input{
    color: white;
    font-size: 20;
}


